# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules

# next.js
/app/.next
/app/dist

# production
/app/build

# misc
/app/.DS_Store

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/.pnpm-debug.log*

# typescript
/app/*.tsbuildinfo
/app/next-env.d.ts

#images
/app/public

#env
.env
/app/production.env
