
<!doctype html>
<html lang="fr">
	<head>
	<title>Mise à jour mot de passe</title>
	</head>
	<body>
		<h1>Vous devez réinitialiser votre mot de passe avant de pouvoir vous connecter</h1>
			<form action="" id="formSubmit">
			<label htmlFor="password" >Nouveau mot de passe:</label>
			<input type="password" min="8" id="password" name="password"/>
			<label htmlFor="passwordConfirm">Confirmer nouveau mot de passe:</label>
			<input type="password" min="8" id="passwordConfirm" name="passwordConfirm"/>
			<input type="hidden" value=<%= auth %> id="sessionToken" />
			<input type="submit" value="Confirmer" id="submit" name="submit"/>
		</form>
		<script type="text/javascript">
			const processUpdateDefaultPassword = async (password) => {
					const response = await fetch('/api/secured-log-process-update-default-password',
					{
						method: "POST",
						mode: "cors",
						headers: {
							"Authorization": "<%= auth %>",
							"Accept": "application/json",
							"Content-type": "application/json",
						},
						body: JSON.stringify({"password": password}),
					});
					alert('Nouveau mot de passe enregistré');
			}
			document.getElementById('formSubmit').addEventListener('submit', function(event) {
				event.preventDefault();
				const password = document.getElementById('password');
				const passwordConfirm = document.getElementById('passwordConfirm');
				if (
						password.value.length < 8 ||
						password.value.length > 100 ||
						!password.value.match(/^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])/)
					 ) {
					alert('Erreur: Le mot de passe n\'est pas conforme.');
					} else if (password.value != passwordConfirm.value) {
						alert('Erreur: Les deux mots de passes sont différents.');
					} else {
						processUpdateDefaultPassword(password.value);
					}
			 });
		</script>
	</form>

	</body>
</html>

